/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Extra Large desktops
$screen-xxl-min: 1400px;


// Colors
$white: #fff;
$black: #000;
$dark-gray: #716A6A;
$yellow: #F1A663;
$peach: #E0B59D;
$dull-peach: #CA9B80;
$gray: #474747;
$dark-orange: #B16D54;
$darker-orange: #9E5C43;
$light-orange: #CD845F;
$brown: #281407;
$gray-peach: #DED2CC;
$dull-brown: #AC8D7B;
$light-gray: #585858;
$red: #BF522B;
$gray-orange: #C2ADA1;
$slight-white: #F1EEED;







