/* =============
    Base
============= */

.bg{
    background-color: $slight-white;
}

.large-images{
    width: 100%;
    display: block;
}



.container{
    display:grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: 
     ". content ."
    ;

 
   

    @include xxl{
        display:grid;
        grid-template-columns: 64px auto 64px;
        grid-template-areas: 
         ". content ."

}
}

.content{
    grid-area: content;
}



@include sm{
    body{
        background-color: green;
    }   
    }
    
@include md{
    body{
        background-color: purple;
    }
    }
    
@include lg{
    body{
        background-color: indianred;
    }
    }
    
 @include xl{
        body{
            background-color: peru;
    }
    }
    
 @include xxl{
         body{
            background-color: blue;
    }
    }
    

    * {
        margin: 0;
        padding: 0;
        }
    
    
    
 
    