/* =============
    Base
============= */


.container{
    display:grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: 
     ". content ."
    ;

 
   

    @include xl{
        display:grid;
        grid-template-columns: 64px auto 64px;
        grid-template-areas: 
         ". content ."

}
}

.content{
    grid-area: content;
}