/* =============
    Checkout
============= */


.cart{

    margin-top: 36px;

    .content{
        background-color: $gray-peach;
        border: 1px solid $darker-orange;


        padding: 16px;

        div.topgrid{
            display: grid;
            grid-template-columns: 30% 70%;
            grid-template-areas: 
            "ii1 ii2"
            "ii1 ii3";

            
            img{
                grid-area: ii1;
                max-width: 100%;
            }



            


            h3{
                color: $black;
                font-family:"Manrope", sans-serif;
                font-size: 16px; 
                
            }

            h2{
                color: $black;
                font-family:"Manrope", sans-serif;
                font-size: 24px;
            }
    }
}
    
}