/* =============
    Main Product
============= */



.main{
    background-color: $gray-peach;
    padding-top: 24px;
  
    @include xl{
        padding-left:48px;
        padding-right: 48px;
        padding-bottom: 48px;
    }
 

    .content{
        
        img{
            max-width: 100%; ;
        }


        div.circle-icon{
            display: flex;
            justify-content: center;

            margin-bottom: 24px;
            margin-top: 16px;
            

            img{
                margin-right: 12px;
            }

            @include xl{
                display: none;
            }
        }


        .hiddenimg{
            display: none;

            @include xl{
                display: initial;

                display: grid;
                grid-template-columns: repeat(3, 1fr);
                margin-top: 24px;
                gap: 1em;
            }
        }

    

        h3{
            color: $black;
            font-family:"Mukta", sans-serif;
            font-size: 20px; 
        }


        div.starsrate{
            display: flex;

            margin-top: 12px;
            margin-bottom: 24px;

            p{
                color: $black;
                font-family:"Manrope", sans-serif;
                font-size: 16px; 
            }

        }



        div.pricetag{

            margin-bottom: 16px;
            
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: auto;
            
            h2{
                color: $black;
                font-family:"Mukta", sans-serif;
                font-size: 28px; 

                @include xl{
                    
                        color: $black;
                        font-family:"Manrope", sans-serif;
                        font-size: 38px; 
                        
                }
                
            }

            
            img{
                margin-left: auto;

            }

            

        }

        hr.new1{
            border: 1px solid $darker-orange;
           
        }


        li{
         
                color: $black;
                font-family:"Mukta", sans-serif;
                font-size: 14px; 

                margin: 16px;
        }

.main-button{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "ee1 ."
    "ee2 ee2";

    .quant{
        grid-area: ee1;
    }

    .addcart{
        grid-area: ee2
    }
}


        .quant{
            margin-bottom: 16px;

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: auto;


            img.left{
                margin-right: auto;
            }

            img.right{
                margin-left: auto;
            }

            @include xl{
                display: initial;

            }
        }

       

        


    }




}



hr.new2{
    border: 1px solid $darker-orange;
   
}


.main{
    .content{
        @include xl{
            display: grid;
            gap: 3em;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 
            "yy1 yy2"
            "yy1 yy2";


            .left{
                grid-area: yy1;
            }

            .right{
                grid-area: yy2;
                padding: 8px;


               


            }

            .main-button{
                margin-top: 48px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1em;
                    grid-template-areas: 
                    "ee1 ee2 ee2"
                    ;
                
                    .quant{
                        grid-area: ee1;
                    }
                
                    .addcart{
                        grid-area: ee2
                    }
                }

                ul{
                    li{
                        margin-top: 48px;
                    }
                }
                


                .title{
                    display: flex;
                    flex-wrap: wrap;
                }


                h3{
                color: $black;
                font-family:"Mukta", sans-serif;
                font-size: 28px; 
                }

               
            }
            


         

  
    }
}