/* =============
    Product Description
============= */



.descopen{

   margin-top: 48px;
   margin-bottom: 48px;

   h4{

    color: $black;
    font-family:"Manrope", sans-serif;
    font-size: 16px; 
}


  

}



.minibox{
    background-color: $peach;
    width: 80%;

    display: flex;
    line-height: 24px;


    border: 1px solid $darker-orange;

    padding-left: 8px;


    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "d1 d2";


    .descname{
        grid-area: d1;
    }

    .descarrow{
        grid-area: d2;
        margin-right: auto;

        @include xl{
            display: none;
        }
    }

  
    
}

.minibox{
    @include xl{
        width: 100%;

    }
}

.box4{
    background-color: $dark-orange;

}

.box5{
    background-color: $dark-orange;
}



.textbox{
    background-color: $white;
    border: 2px solid $darker-orange;
    padding: 24px 8px 32px 8px;

   

    p{
        
        color: $black;
        font-family:"Manrope", sans-serif;
        font-size: 14px; 
    }

    li{
        color: $black;
        font-family:"Manrope", sans-serif;
        font-size: 14px; 
        
        list-style-position: inside;
        margin-bottom: 8px;



    }

    @include xl{
        padding: 48px;
    }

    

}




.miniboxclose{
    background-color: $dark-orange;
    width: 80%;

    display: flex;
    line-height: 24px;


    border: 1px solid $darker-orange;

    padding-left: 8px;



    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "d1 d2";

    @include xl{
        display: none;
    }

    
}


.boxhidden{
    display: none;
    

}




.boxx{
    @include xl{
      
        
        display: grid;
        column-gap: 0;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "lo1 lo2 lo3";

        .box3{
            grid-area:lo1;
            
        }

        .box4{
            grid-area: lo2;
            
        }

        .box5{
            grid-area: lo3;
        }
    }
}


.barbox{
    display: none;
    @include xl{
        display: initial;
        display: grid;
        column-gap: 0;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "lo1 lo2 lo3";

        .box3{
            grid-area:lo1;
            background-color: $darker-orange;
            
        }

        .box4{
            grid-area: lo2;
            background-color: $peach;
            
        }

        .box5{
            grid-area: lo3;
            background-color: $peach;
        }


        margin-right: 270px;
    }
}


.boxhide{
    @include xl{
        display: none;
    }
}














.moreabout{
    

    ul{
    
        li{
            list-style: none;
            margin-bottom: 8px;
        }
    }

    padding-top: 24px;
    padding-bottom: 8px;
    margin-bottom: 32px;
    border-bottom: 2px solid $darker-orange;

    background-color: $gray-peach;

    h3{
        color: $black;
        font-family:"Mukta", sans-serif;
        font-size: 20px; 
    }


    hr.new1{
        border: 1px solid $darker-orange;
        margin-top: 8px;
        margin-bottom: 24px;
    }

    img{
        max-width: 100%;
        border: 2px solid $darker-orange;
        border-radius: 2px;
        


    }

   ul{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    ". p1 ."
    ". p2 ."
    ". p3 ."
    "p4 p4 p4"
    ;
   }

   .handle{
    grid-area: p1;
   }

   .blade{
    grid-area: p2;
   }

   .length{
    grid-area: p3;
   }

   .full{
    grid-area: p4;
   
   }

   


   
  

}

.moreabout{
    .content{
        ul{
            @include xl{
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-template-areas: 
                "p1 p1 p2 p2 p3 p3"
                ". p4 p4 p4 p4 .";
            
                .handle{
                    grid-area: p1;
                   }
                
                   .blade{
                    grid-area: p2;
                   }
                
                   .length{
                    grid-area: p3;
                   }
                
                   .full{
                    grid-area: p4;
                   
                   }
               }
        }
    }
}