/* =============
    Thank you
============= */





.thanksection{
    .content{

        background-color: $gray-peach;
        border: 3px solid $darker-orange;
        border-radius: 8px;


        margin-top: 48px;


        .insidebox{
            text-align: center;
            margin: 16px 16px 36px 16px;

            h1{
                color: $brown;
                font-family:"Manrope", sans-serif;
                font-size: 24px; 
                margin-left: 24px;
                margin-right: 24px;
            }

            h3{
                color: $brown;
                font-family: "Mukta", sans-serif;
                font-size: 20px; 


                margin-left: 48px;
                margin-right: 48px;
            }

        }





    }
}

.thanksection{
    
    
    @include xl{

        display:grid;
        grid-template-columns: auto 1150px auto;
        grid-template-areas: 
         ". content .";



        .content{
        
        padding: 48px;
        margin: 48px;
    }
}
}