/* =============
    Footer
============= */


footer{
    background-color: $peach;
    padding: 48px 16px 32px 16px;

    @include xl{
        padding-left: 24px;
        padding-right: 24px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "l1 l2 l3";

        .about{
            grid-area: l1;
        }


        .middle2{
            grid-area: l2;
        }

        .forms{
            grid-area: l3;
        }

    }
  
    ul{
    
        li{
            list-style: none;
            margin-bottom: 8px;
        }
    }


    
        
        

        div.about{
            li{
                font-family: "Manrope" , sans-serif;
                font-size: 15px;
                padding-bottom: 24px;
            }

        }

        div.order{
            padding-top: 16px;
            li{
                font-family: "Manrope" , sans-serif;
                font-size: 16px;
                padding-bottom: 24px;
            }
            
        }
    

    form{
        display: flex;
        flex-flow: wrap;
        justify-content: flex-start;


        input{
             color: $black;
             font-family:"Manrope", sans-serif;
             font-size: 16px;
             font-style: bold;
             width: 100%;

             border: 2px solid $dark-orange;
             border-radius: 2px;
             padding: 12px;
        
            
         }

         .signup-button{
            background-color: $dark-orange;
            font-family:"Manrope", sans-serif;
            font-size: 16px;
            font-weight: bold;
            color: $white;
            border-radius: 2px;
            
            padding: 12px 48px 12px 48px;
            margin-top: 32px;
          
       
        }


        @include xl{

            justify-content: end;
        }
    }

    div.footer-icons{
        margin-top: 24px;

        a{
            img{
                margin-right: 16px
            }
        }

        @include xl{
            display: flex;
            flex-flow: wrap;
            justify-content: end;
        }
    }

}