/* =============
    Header
============= */


header.container{

    background-color: $peach;

    .content{
        padding-top: 32px;
        padding-bottom: 32px;

        justify-content: center;


        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: 
        "hi1 hi2 hi2 . hi3";


        .burger{
            grid-area: hi1;
        }

        .logo{
            grid-area: hi2;
        }

        .cart{
            grid-area: hi3;
        }

        a.person{
            display: none;
        }


        a.cart{
            span{
                display:none;
            }
        }
       




        .mainsearch{
            display:none;
        }
    }
}